* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v51_60 {
    width: 100%;
    height: 1080px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v54_129 {
    width: 96px;
    height: 96px;
    background: url("../images/v54_129.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 15px;
    overflow: hidden;
  }
  .v54_292 {
    width: 204px;
    height: 72px;
    background: url("../images/v54_292.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 1700px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v54_290 {
    width: 204px;
    height: 72px;
    background: url("../images/v54_290.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 1447px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v54_280 {
    width: 204px;
    height: 72px;
    background: url("../images/v54_280.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 1192px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v54_135 {
    width: 365px;
    height: 365px;
    background: url("../images/v54_135.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 282px;
    left: 23px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    overflow: hidden;
  }
  .v54_136 {
    width: 320px;
    height: 320px;
    background: url("../images/v54_136.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 143px;
    left: 233px;
    overflow: hidden;
  }
  .v54_137 {
    width: 191px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 242px;
    left: 297px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  